


h1{
    color: blue;
    font-family:'Titillium Web', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 50px;

}
p{
    color: rgb(61, 53, 53);
    margin: 10px 5px 10px 5px;
    font-family:'Titillium Web', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 25px;
    
}