button {
    background-color: rgb(42, 41, 44);
    color: rgb(7, 203, 95);
}
form{
    margin: 10px;
}

.profCard{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}
.card {
    width: 50%; /* Change the width to 50% */
    margin: auto; /* Center the card horizontally */
  }



