
body{
    background-color: beige;
}
h1{
    margin: 10px;
}
.notice{
    background-color: rgb(241, 241, 255);
    margin-top: 20px;
    margin-left: 10px;
    box-shadow: 0 0 1px 0 black;
    color: rgb(6, 6, 6);
    width: 30%;
    height: 100px;
    font-size: x-large;
    block-size: inherit;
}
