
body{
    background-color: beige;
}
.notice{
    background-color: rgb(241, 241, 255);
    margin-top: 20px;
    margin-left: 10px;
    box-shadow: 0 0 1px 0 black;
    color: rgb(6, 6, 6);
    width: 30%;
    height: 100px;
    font-size: x-large;
    block-size: inherit;
}

.req{
    
   background-color: rgb(240, 255, 249);
    position: absolute;
    top: 50%;
    left: 10%;
    transform:translate(-50%,-50%);
    height: 30%;
    width: 250px;
    box-shadow: 0 0 1px 0 black;
    overflow: hidden;
}

.req img{
    margin-left: 10px;
    margin-top: 10px;
    
    height: 44px;
    width:44px;
    top: 2%;

}

.req h1{
    margin-left: 10px;
    font-size: 37px;
    top: 62%;
    left: 7%;

}

.req button{
    margin-left: 10px;
   
    top: 40%;
    font-size: 25px;
    padding: 8px 20px;
    left:5%;
    width: 40%;
    border-radius: 12px;
    
}
.req button:nth-child(3){
    font-size: large;
    color: aliceblue;
    background-color: blue;
}
.req button:nth-child(4){
    font-size: large;
    color: rgb(159, 202, 239);
    background-color: rgba(170, 170, 224, 0.404);
    
}